---
import Layout from "../layout/Layout.astro";
import NavBar from "../components/NavBar";
---

<Layout title="Dale Dale Montanina">
	<main class="flex justify-center h-[200vh]">
		<NavBar client:load></NavBar>	
	</main>
</Layout>
