---
import Layout from "../layout/Layout.astro";
import NavBar from "../components/NavBar";
import Team from "../components/Team";
---

<Layout title="Dale Dale Montanina">
	<main class="flex justify-center h-[100vh]">
		<NavBar client:load></NavBar>	
	</main>
	<Team></Team>
</Layout>
